

        {% extends "base.html"%}
        {% block content %}
        <head><h1>Welcome! Please register below:</h1></head>    
        
        <form action='' method ='POST'>
        <p>
            <label for = "username">Enter a User Name:</label>
            <input id ="username" type = "text" name="username"  value={{username}}  >
            <span class="error">{{ username_error }}</span>
        </p>
        <p>
            <label for = "password1">Enter a Password:</label>
            <input id ="password1" type = "password" name="password1" >
            <span class="error">{{ password1_error }}</span>
        </p>
        <p>
            <label for = "password2">Reenter your Password:</label>
            <input id ="password2" type = "password" name="password2">
            <span class="error">{{ password2_error }}</span>
        </p>
        <p>
            <label for="email">Enter an Email (optional):</label>
            <input id="email" type = "text" name = "email" value={{email}}>
            <span class="error">{{ email_error }}</span>
        </p>

            <input type ="submit" value="Register"/>
        </form>
        {% endblock %}
